.header {
  background-color: black;
  text-align: center;
  padding: 10px;
  color:white;
}

.nav {
	margin-top: 10px;
	padding: 0px;
	background-color: black;
	text-align: center;
	overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
}


li {
	float: left;
}

li a{
  display: inline;
  color: white;
  text-align: center;
  padding:10px 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #282828;
}


body {
  background-color: darkgrey;
}


.column {
  float: right;
  width: 100%;
}

.column2 {
	float: left;
	width: 30%;
	padding: 10px;
}

